@charset "UTF-8";
/* 侧边栏 */
#sidebar {
  position: fixed;
  background-color: #fbf2fb;
  padding: 5px 5px 5px 5px;
  width: 13%;
  max-height: 100%;
  overflow: auto;
  display: flex;
  align-items: -webkit-flex;
  border-style: groove;
  border-width: 2px;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
}
#sidebar ul {
  list-style: none;
  padding: 2px 2px 5px 10px;
}

/* 内容框 */
.content {
  margin: -20px 83px -10px 83px;
  background-color: #fbf2db;
}

/* 边框 */
#content_border {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
#content_border #content_border_top {
  height: 59px;
  width: 100%;
}
#content_border #content_border_top #content_border_lefttop {
  float: left;
  width: 59px;
  height: 59px;
  background: url(../img/bg_border_lefttop.png) left top repeat-x;
}
#content_border #content_border_top #content_border_centertop {
  float: left;
  width: calc(100% - 2 * 59px);
  height: 59px;
  background: url(../img/bg_border_centertop.png) left top repeat-x;
}
#content_border #content_border_top #content_border_righttop {
  float: left;
  width: 59px;
  height: 59px;
  background: url(../img/bg_border_righttop.png) left top repeat-x;
}
#content_border #content_border_bottom {
  height: 59px;
  width: 100%;
}
#content_border #content_border_bottom #content_border_leftbottom {
  float: left;
  width: 59px;
  height: 59px;
  background: url(../img/bg_border_leftbottom.png) left top repeat-x;
}
#content_border #content_border_bottom #content_border_centerbottom {
  float: left;
  width: calc(100% - 2 * 59px);
  height: 59px;
  background: url(../img/bg_border_centerbottom.png) left top repeat-x;
}
#content_border #content_border_bottom #content_border_rightbottom {
  float: left;
  width: 59px;
  height: 59px;
  background: url(../img/bg_border_rightbottom.png) left top repeat-x;
}
#content_border #content_border_left {
  background: url(../img/bg_border_left.png) left top repeat-y;
  background-size: 84px 100px;
}
#content_border #content_border_right {
  background: url(../img/bg_border_right.png) right top repeat-y;
  background-size: 84px 100px;
}

.content h1 {
  text-align: center;
  background-color: #d2691e;
}

.content h2 {
  text-align: center;
  background-color: #deb887;
}

.content h3 {
  text-align: center;
  background-color: #ffe4c4;
}

.content h4 {
  text-align: center;
  background-color: #f0ffff;
}

/* 表格 */
/* https://www.w3cschool.cn/css/css-sfrk2opy.html */
table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

.align-justify {
  text-align: justify;
  text-justify: distribute-all-lines;
  /* ie6-8 */
  text-align-last: justify;
  /* ie9 */
  -moz-text-align-last: justify;
  /* ff */
  -webkit-text-align-last: justify;
  /* chrome 20+ */
}
