@charset "UTF-8";
form {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-top: 20px;
  border: 0px;
  font-family: Optima， serif;
  font-size: 15px;
}

form p {
  font-size: 10px;
  margin-bottom: 5px;
}

#form_img {
  float: right;
  height: 605px;
  margin-top: 20px;
  margin-right: 50px;
}

form label {
  font-family: "Times New Roman", Times, Serif;
  font-size: 20px;
}

form legend {
  font-family: "宋体", sans-serif;
  font-size: 50px;
}
